fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
python-dotenv==1.0.1
langchain==0.3.14
langchain-community==0.3.14
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.4
faiss-cpu==1.9.0.post1
huggingface-hub==0.27.0
requests==2.32.3
pypdf==5.1.0
sentence-transformers==3.3.1
pydantic==2.10.4
pydantic-settings==2.7.0
